body {
	background: black;
	padding: 0; 
	margin: 0;
}

button {
	background: #8888;
	color: #4f4;
}
canvas {
	object-fit: contain;
}
#canvas-container {

	width: 43.75%;
	left: 5%;
	top: 100px;
	height:600px;
	background: #f00;
	position: fixed;
	margin: auto;
}
.code-block {
	width: 43.75%;
	right: 5%;
	top: 100px;
	height:600px;
	background: #222;
	position: fixed;
	margin: auto;
}
.control-panel {
	background: #888;
	position: fixed;
	top: 40%;
	right: 10%;
	height: 20%;
	width: 10%;
	padding: 10px;
}
#new-array-button {
	display: block;
	margin: auto;
}
.nav {
	background: #aaa;
	padding: 10px;
}